@import url('https://fonts.googleapis.com/css?family=Akronim');
@import url('https://fonts.googleapis.com/css?family=Lobster');



.navbar{
	background-color: black;
}

.main{
	padding: 2px;
	color: white;
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 15px;
}

.shadow {
	width: 100%;
	height: 168px;
	position: relative;
	margin-top: -110px;
	background: transparent url(../images/shadow.png) no-repeat bottom center;
	background-size: 100% 100%; /* stretches it */
	z-index: -1;
	display: none;
}

/* .sb-description h3 {
	
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
} */

/* .sb-description h3 a {
	color: #4a3c27;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
} */

.nav-arrows {
	/* line-height: 50px; */
	display: none;
}

.nav-arrows a {
	width: 42px;
	height: 42px;
	background: #cbbfae url(../images/nav.png) no-repeat top left;
	position: absolute;
	top: 30%;
	left: 2px;
	text-indent: -9000px;
	cursor: pointer;
	margin-top: -21px;
	opacity: 0.5;
	border-radius: 50%;
	box-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

.nav-arrows a:first-child{
	left: auto;
	right: 2px;
	background-position: top right;
}

.nav-arrows a:hover {
	opacity: 1;
}

.nav-dots {
	text-align: center;
	position: absolute;
	bottom: -5px;
	height: 30px;
	width: 100%;
	left: 0;
	display: none;
}

.nav-dots span {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 3px;
	background: #cbbfae;
	cursor: pointer;
	box-shadow: 
		0 1px 1px rgba(255,255,255,0.6), 
		inset 0 1px 1px rgba(0,0,0,0.1);
}



.container{
	padding: 50px;
}

.footer{
	background-color: black;
}

.main-footer{
	color: white;
	text-align: center;
	margin: 10px auto;
}

.main-footer img{
	height: 12px;
	width: 12px;
}

.text{
	font-size: 30px;
	text-align: center;
	font-family: 'Akronim', cursive;
}

.from-text{
	font-family: 'Lobster', cursive;
	text-align: center;
}

body{
	background-color: white;
}